

/*.bodya{background: url('../Images/Lucerne.jpg') no-repeat;
background-size: cover; opacity: 0.5;
}*/
html{
	margin: 0;
	padding: 0;
}
body{

	vertical-align: baseline;
}
figcaption, figure, footer, header, nav {
	display: block;
}

.header {
	padding: 45px;
	margin: auto;
	background-color: white;
	font-family: bold Heiti Tc, Sans-serif, Arial, Helvetica;
	font-size: 23pt;
	text-align: center; 
	letter-spacing: 4.5px;
	text-transform: uppercase;
}
#belowheader {
	font-size: 14pt;
	letter-spacing: 1.2px;
	padding-top: 10px;
	font-family: apple-chancery, sans-serif, arial, Helvetica;
	text-transform: none;
}
#headerlink{
	text-decoration: none;
}

/* Top Navigation Bar */

.navigation-bar ul{
	padding: 0px;
	text-align: center;
}
.navigation-bar li {
 	display: inline; 
}
.navigation-bar a{
	font-size: 11pt;
	font-family: Heiti Tc, sans-serif,arial, Helvetica;
	text-decoration: none;
	padding-right: 1em;
	padding-left: 1em;
	line-height: 1em;
	margin-right: 25px;
	letter-spacing: 1.5px;
}

a:link, a:visited {
	color: #444;
}
a:hover, a:active {
	color: #747474
}
#navigation-container{
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}

/* End Navigation Bar */
.gallery{
	line-height: normal;
	text-align: center;
	padding-top: 60px;
}
.subfooter{
	clear: both;
	display: block;
	width: fill;
	height: 60px;
	font-size: 22pt;
	line-height: 1.5em;
	color: #747474;
	border-top: 1.2px solid #DEDEDE;
	border-bottom: 1.2px solid #DEDEDE;
	font-family: apple-chancery, Sans-serif, Arial, Helvetica; 
  	text-align: center;
  	padding-top: 20px;
}
.feature{
	font-family: apple-chancery, sans-serif, Arial, Helvetica;
	color: #444;
	font-size: 22pt;
	line-height: 2;
	letter-spacing: 1.5px;
	padding-right: 15px;
	padding-left: 20px;
}
.about{
	font-family: Heiti Tc, sans-serif, Arial, Helvetica;
	letter-spacing: 0.2px;
	line-height: 1.5;
	padding-right: 25px;
	padding-left: 25px;
}
footer{
	clear: both;
	font-size: 9pt;
	font-family: Heiti Tc, arial, sans-serif, Helvetica;
	line-height: 12px;
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}
figure img {
	border: 1px solid #fff;
	background-color: #fff;
	padding-bottom: 2px;
	padding-top: 9px;
}
figcaption {
	font-family: Heiti Tc, Sans-serif, arial, Helvetica;
	text-align: center; 
	margin: 10px 0 0 0;
	letter-spacing: 2.0px;
	color: #444;
	line-height: 1.5em;
	text-transform: uppercase;
}
figure {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin: 0 45px 45px 45px;
}
