

/*.bodya{background: url('../Images/Lucerne.jpg') no-repeat;
background-size: cover; opacity: 0.5;
}*/
html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.header {
	padding: 45px;
	margin: auto;
	background-color: white;
	font-family: bold Heiti Tc, Sans-serif, Arial, Helvetica;
	font-size: 23pt;
	text-align: center; 
	letter-spacing: 4.5px;
	text-transform: uppercase;
}
#belowheader {
	font-size: 14pt;
	letter-spacing: 1.2px;
	padding-top: 10px;
	font-family: apple-chancery, sans-serif, arial, Helvetica;
	text-transform: none;
}
#headerlink{
	text-decoration: none;

}

/* Top Navigation Bar */

.main-nav ul{
	padding: 0px;
	text-align: center;
}
.main-nav li {
 	display: inline; 
}
.main-nav a{
	font-size: 11pt;
	font-family: Heiti Tc, sans-serif,arial, Helvetica;
	text-decoration: none;
	padding-right: 1em;
	padding-left: 1em;
	line-height: 1em;
	margin-right: 25px;
	letter-spacing: 1.5px;
}

a:link, a:visited {
	color: #444;
}
a:hover, a:active {
	color: #747474
}
#navigation-container{
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}
.nav-bar ul{
	padding-right: 70px;
	text-align: right;
}
.nav-bar li{
	display: inline;
}
.nav-bar a{
	display: inline;
	font-family: Heiti Tc, Sans-serif, arial, Helvetica;
	font-size: 11pt;
	text-decoration: none;
	margin-right: 25px;
	letter-spacing: 0.2px;

}
#nav-container {
	padding-bottom: 10px;

}

/* End Navigation Bar */
.gallery{
	line-height: normal;
	text-align: center;
	padding-top: 15px;
}
.subfooter{
	clear: both;
	display: block;
	width: fill;
	height: 60px;
	font-size: 22pt;
	line-height: 1.5em;
	color: #747474;
	border-top: 1.2px solid #DEDEDE;
	border-bottom: 1.2px solid #DEDEDE;
	font-family: apple-chancery, Sans-serif, Arial, Helvetica; 
  	text-align: center;
  	padding-top: 20px;
}
.feature{
	font-family: apple-chancery, sans-serif, Arial, Helvetica;
	color: #444;
	font-size: 11pt;
	line-height: 1;
	letter-spacing: 1.5px;
	text-align: left;
	margin-left: 50px;
}
.about{
	float: right;
	width: 400px;
	height: 400px;
	padding: 1px;
	margin: 1px;
	font-family: Heiti Tc, sans-serif, Arial, Helvetica;
	letter-spacing: 0.2px;
	line-height: 1.5;
	font-size: 10pt;
}
footer{
	clear: both;
	font-size: 9pt;
	font-family: Heiti Tc, arial, sans-serif, Helvetica;
	line-height: 12px;
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}
figure img {
	border: 1px solid #fff;
	background-color: #fff;
	padding-bottom: 2px;
	padding-top: 9px;
}
figcaption {
	font-family: Heiti Tc, Sans-serif, arial, Helvetica;
	text-align: center; 
	margin: 10px 0 0 0;
	letter-spacing: 2.0px;
	color: #444;
	line-height: 1.5em;
	text-transform: uppercase;
}
figure {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin: 0 45px 45px 45px;
}
.imagelinks{
	text-decoration: none;
}
.linkheader{
	padding: 25px;
	margin: auto;
	background-color: white;
	font-family: bold Heiti Tc, Sans-serif, Arial, Helvetica;
	font-size: 23pt;
	text-align: left; 
	letter-spacing: 4.5px;
	text-transform: uppercase;

}

.underheading{
	text-align: center;
	font-size: 12pt;
	font-family: Heiti Tc, Sans-serif, arial, Helvetica;
	color: #444;
	letter-spacing: 1.2px;
}

h1{
	font-family: Heiti Tc, Sans-serif, arial, Helvetica;
	text-align: center; 
	letter-spacing: 2.0px;
	color: #444;
	line-height: 1.5em;
	text-transform: uppercase;
	padding-bottom: 2px;
	font-size: 20pt;
	padding-top: 15px;
}

h3{
	padding-bottom: 20px;
}

.about2{
	font-family: Heiti Tc, sans-serif, Arial, Helvetica;
	letter-spacing: 0.2px;
	line-height: .75;
	width: 1000px;
	height: 1000px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10pt;
	margin-left: 10px;

}
.imageleft {
	padding-right: 1px;
}

