
html {
	margin: 0;
	padding: 0;
}
body {
	color: #444; background:  #f9f9f9 
	letter-spacing: 2px;
	line-height: 24px;
	text-transform: uppercase;
	margin: 0px 5px;
}
.bodya{background: url('../Images/Matterhorn.jpg') no-repeat; opacity: 0.9;
background-size: cover;
}
.header {
	background-color: #eeeeee;
	font: bold Arial, Helvetica, Sans-serif;
	font-size: 13px;
	text-align: center;
	padding: 10px 0px; 
}
#first{
	font-size: 2px;
}
.top-bar {
	line-height: 20px;
	background-color: ;
	height: 75px;
	padding: 0.2px; 
	font-size: 11px; 
	text-align: center;
	width: 1090px;
	margin: auto;
}
.top-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}
.top-bar li {
	float: left;
}
a:link, a:visited {
	display: block;
	widows: 120px;
	font-weight: bold;
	color: #444;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover, a:active {
	color: #fffff0 
}
 .main-content {
	width: 300px;
	margin: auto;
	padding: 5px;
	font-size: 2px;
	background-color: gray;
	text-align: center;
}
.container {
	background-color: #eeeeee
	text: white;
	clear: both;
	text-align: center;
	padding: 340px;
	font-size: 8px;

}
</style>
